# Copy file ini menjadi .env di VPS-2 (/opt/plazo-db/.env)
# Lalu isi password yang kuat!

POSTGRES_USER=plazo_user
POSTGRES_PASSWORD=GANTI_PASSWORD_POSTGRES_KUAT

REDIS_PASSWORD=GANTI_PASSWORD_REDIS_KUAT
