.dockerignore
node_modules
npm-debug.log
dist
.env
.env.*.local
.env.production
.git
.gitignore
README.md
.vscode
.idea
coverage
.jest
logs
uploads
docs
FIX-PRISMA-ERROR.md
api.http
fix-prisma.bat
fix-prisma.sh
